@import './variables';
@import './mixins';

li {
    list-style: none;
}

a,
button {
    font-family: "Cabin Condensed", sans-serif;
    font-size: 18px;
}

.primary-btn {
    display: inline-block;

    a {
        background-image: linear-gradient(to right, #76453b 0%, rgb(191 164 146) 51%, #B19470 100%);
        margin: 10px;
        padding: 10px 30px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: $clr-white;
        box-shadow: 0 0 20px #eee;
        border-radius: 10px;
        display: block;

        &:hover {
            background-position: right center;
            color: $clr-black;
            text-decoration: none;
        }
    }
}

.banner {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 0;
    height: 500px;
}

.bannertitle {
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

p {
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    color: $clr-black;
    font-family: "Cabin Condensed", sans-serif;

}


h1 {
    font-size: 42px;
    text-align: center;
    font-weight: 500;
    color: $clr-white;
    line-height: 55px;
    margin: 0;

    @include mq(xxl) {
        font-size: 34px;
        line-height: 40px;
    }

    @include mq(md) {
        font-size: 25px;
        line-height: normal;
    }
}

h2 {
    font-size: 35px;
    line-height: normal;
    font-weight: 500;
    margin: 0;
}

h3 {
    font-size: 25px;
    line-height: normal;
    font-weight: 500;
    color: $clr-brown;
    margin: 0;
}